body{
    background-color: white;
}


#encabezado{
    top: 0;
    padding: 2px;
}

#titulo{
    color: black; 
    background-color: rgb(152, 220, 242);
    border: 2px solid black; 
    margin: 20px 20px 20px 20px; 
    text-align: center;
    font-size: 1.1cm; 
    font-family: 'Reem Kufi Fun', sans-serif;
    font-style: italic;
} 

#napvar{
    color: black; 
    background-color: rgb(255, 255, 220);
    font-family: 'Reem Kufi Fun', sans-serif;
    font-style: italic;
    
}

#grupos{

/* border-collapse: collapse; */
width: 100%;
/* background-color: #fff; */
/* font-size: 1rem;} */
border-spacing: 10;
}

h2{
    font-family: sans-serif;
    text-align: center;
    font-size: 1cm;
    text-decoration: none;
    font-style: italic;
}



thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

#logotipo{
    width: 90px;
}

#divisor{
    border-top: 3px solid #bbb;
    }

    p { font-family: Arial, Helvetica, sans-serif;
    }
    
#final{
    background-color: rgb(255, 255, 220);
    color: black;
    display: inline-flex;
    }
    
#enlaces{
    width: 20%;
    display: block;
}

#contacto{
    width: 30%;
    display: block;
}

#mailcontacto{
    text-align: center;
}

#redes{
    width: 20%;
    display: block;
}

#derechos{
    width: 30%;
    display: block;
}

#copy{
    text-align: center;
    }

a{text-align: center;
    color: black;  
    text-decoration: none;
}

#imgpie {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
}

h3{
    text-align: center;
}

.card{
    background-color: rgb(152, 220, 242);

}

.card1{
    background-color: rgb(152, 220, 242);
}

#solapas{
    padding: 10px  10px;
    column-gap: 15px;
    margin-right: 60px;
}

.card-img-top{

    width: auto;
    height: 180px;
}

.cards-wrapper{
    column-gap: 30px;
    justify-content: space-around;
    width: 70%;
    align-items: stretch;

}

@media only screen and (max-width: 650px) { 


    .card{
        text-align: center;
    }

    #final{
        display: none;
    }

    #tabla123{
        display: none;
    }

    h2{
        display: none;
    }
}