body{
    background-color: white;
}

#napvar{
    color: black; 
    background-color: rgb(255, 255, 220);
    font-family: 'Reem Kufi Fun', sans-serif;
    font-style: italic;
}

#logotipo{
    width: 90px;
    border: none;
}

#encabezado{
    top: 0;
    padding: 2px;
}

#titulo{
    color: black; 
    background-color: rgb(152, 220, 242);
    border: 2px solid black; 
    margin: 20px 20px 20px 20px; 
    text-align: center;
    font-size: 1.1cm; 
    font-family: 'Reem Kufi Fun', sans-serif;
    font-style: italic;
} 


.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    
}

#resumen{
    color: black; 
    text-align: center;
    font-size: 4cm; 
    font-family: 'Reem Kufi Fun', sans-serif;
    font-style: italic;
    text-decoration: underline;
}

#video{

    display: flex;
    flex-direction: column;
    height: 600px;
    justify-content: center;
    align-items: center;
}

h3{
    text-align: center;
}
#p1{
    text-align: left;
}
#p2{
    text-align: right;
}


img{
    width: auto;
    height: 80%;
    border: 1px solid goldenrod;
    
}

#resultado{
    text-align: center;
    font-size: 600%;
}

#divisor{
    border-top: 3px solid #bbb;
}

#final{
background-color: rgb(255, 255, 220);
color: black;
display: inline-flex;
}

#enlaces{
width: 20%;
display: block;
}

#contacto{
width: 30%;
display: block;
}

#mailcontacto{
text-align: center;
}

#redes{
width: 20%;
display: block;
}

#derechos{
width: 30%;
display: block;
}

#copy{
text-align: center;
}

a{text-align: center;
    color: black;  
}


#imgpie {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
    border: none;
}

@media only screen and (max-width: 650px) { 

#final{
    display: none;
}

.flex-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}
/* 
#video{
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
} */

#yutu{

    width: auto;
    height: 400px
}

}
