body{
    background-color:white
    }

body{color: black;}

#encabezado{
    top: 0;
    padding: 2px;

}

#logotipo{
    width: 90px;
}

#titulo{
    color: black; 
    background-color: rgb(152, 220, 242);
    border: 2px solid black; 
    margin: 20px 20px 20px 20px; 
    text-align: center;
    font-size: 1.1cm; 
    font-family: 'Reem Kufi Fun', sans-serif;
    font-style: italic;
}

#napvar{
    color: black; 
    font-family: 'Reem Kufi Fun', sans-serif;
    font-style: italic;
}

#fotolog{
    width: 50%
}

#p1{

    font-size: 0.5cm;
    font-family: 'Reem Kufi Fun', sans-serif;
    text-decoration: italic;
}


#finalisima {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
} 

a{text-align: center;
    color: black;  
}

#foot{text-align: center;}

#final{
    background-color: rgb(255, 255, 220);
    color: black;
    display: inline-flex;
}

#enlaces{
    width: 20%;
    display: block;
    
}

#contacto{
    width: 30%;
    display: block;
}

#mailcontacto{
    text-align: center;
}

#redes{
    width: 20%;
    display: block;
}

#derechos{
    width: 30%;
    display: block;
}

#copy{
    text-align: center;
}


#links{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    align-content: space-around;

}




/* ESTILOS PRODUCTOS JAVA */

.shop-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 100px;
}

.card{
    box-shadow: 0 4px  rgba(0, 0, 0, 0.2);
    max-width: 300;
    margin: 300;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.card > img {
    width: 100%;
    height: 250px;
}

.precio {
    color: grey;
    font-size: 22px;
}

.card button{
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: rgb(233, 204, 43);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 20px;
}

.card button:hover{
    opacity: 0.7;
    background-color: lightblue;
}

.card button:active{
    background-color: lightblue;
    box-shadow: 0 5px lightblue;
    transform: translateY(4px);
}

/* ESTILOS MODAL DE COMPRAS */

.modal-container{
    width: 80%;
    margin: 0 10%;
    max-height: 88vh;
    color: black;
    background-color:aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    overflow: auto;
    z-index: 9;
    top: 12vh;
}

.modal-header{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 10px 30px 10px 30px;
    background-color:rgb(255, 217, 2);
    color: black;
    width: 100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    
}

.modal-header-title {
    justify-self: start;
}

.modal-header-button{
    cursor: pointer;
}

.modal-container > .modal-content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin: 10px;
    padding: 10px;
    
    
}

.modal-container > div > img{
    height: 120px;
    width: 120px;
    display: flex;
    
}

.total-content{
    font-size: 25px;
    padding: 20px;
    text-align: right;
    padding-top: 20px;
    font-family: 'Times New Roman', Times, serif

}

.modal-container > div > p{
    font-size: 25px;
    text-align: center;
}


@media only screen and (max-width: 650px) { 

    #final{
    display: none;
    }


    .img1{
    width: 150px;
    height: 250px;
    }
}