body{
  background-color:beige
    }




body{color: black;}

#encabezado{
  position: sticky;
  top: 0;
  padding: 5px;

}

#logotipo{
  width: 90px;
}

#titulo{
  color: black; 
  background-color: rgb(255, 255, 220);
  border: 3px solid black; 
  margin: 45px 45px 45px 45px; 
  text-align: center;
  font-size: 1.1cm; 
  font-family: 'Reem Kufi Fun', sans-serif;
  font-style: italic;
}

#napvar{
  color: black; 
  font-family: 'Reem Kufi Fun', sans-serif;
  font-style: italic;
}

#fotolog{
  width: 50%
}




a{text-align: center;
  color: black;  
}

h3{text-align: center;}
p{text-align: center;}

#divisor{
  border-top: 3px solid #bbb;
  }

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

p { font-family: Arial, Helvetica, sans-serif;
}

#final{
  background-color:white;
  color: black;
  display: inline-flex;
}

#enlaces{
  width: 20%;
  display: block;
}

#contacto{
  width: 30%;
  display: block;
}

#mailcontacto{
  text-align: center;
}

#redes{
  width: 20%;
  display: block;
}

#derechos{
  width: 30%;
  display: block;
}

#copy{
  text-align: center;
}



.flex-container {
  display: flex;
  background-color: beige;
  align-items: stretch;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: space-around;
}

.img1 {
  max-width: 100%; 
  height: auto;    
  margin: 10px;
  width: 350px;    
}

/* .card{
  max-width: 100%; 
  height: auto; 
  width: 100px ;
  justify-content: center;
  align-content: center;
} */

/* div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
} */



@media only screen and (max-width: 650px) { 

  #final{
    display: none;
  }

  .flex-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .img1{
    width: 150px;
    height: 250px;
  }
}