body{
  background-color:beige
    }


body{color: black;}

#encabezado{
  position: sticky;
  top: 0;
  padding: 5px;

}

#titulo{
  color: black; 
  background-color: rgb(255, 255, 220);
  border: 3px solid black; 
  margin: 45px 45px 45px 45px; 
  text-align: center;
  font-size: 1.1cm; 
  font-family: 'Reem Kufi Fun', sans-serif;
  font-style: italic;
}



#fotolog{
  width: 60%
}

#diego{
  background-color: beige;
}
#llave{
  width: 60%;
}

#divPadre{
  display: inline-flex;
}

#div1{
  
  width: 50%;
}
#div2{

  width: 50%;
  padding: 50px;
}

a{text-align: center;
  color: black;  
}

h3{text-align: center;}
p{text-align: center;}

#divisor{
  border-top: 3px solid #bbb;
  
  }

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

p { font-family: Arial, Helvetica, sans-serif;
}

#final{
  background-color:white;
  color: black;
  display: inline-flex;
}

#enlaces{
  width: 20%;
  display: block;
}

#contacto{
  width: 30%;
  display: block;
}

#mailcontacto{
  text-align: center;
}

#redes{
  width: 20%;
  display: block;
}

#derechos{
  width: 30%;
  display: block;
}

#copy{
  text-align: center;
}