body{
  background-color:white
    }

body{color: black;}

#encabezado{
  /* position: sticky; */
  top: 0;
  padding: 2px;
}

#logotipo{
  width: 90px;
}

#titulo{
  color: black; 
  background-color:  rgb(152, 220, 242);
  border: 2px solid black; 
  margin: 20px 20px 20px 20px; 
  text-align: center;
  font-size: 1.1cm; 
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
}

#napvar{
  color: black; 
  font-family: 'Reem Kufi Fun', sans-serif;
  font-style: italic;

}

#fotolog{
  width: 50%
}

#p1{

  font-size: 0.5cm;
  font-family: 'Reem Kufi Fun', sans-serif;
  text-decoration: italic;
}


#url{text-align: center;
  color: black; 
  text-decoration: none; 
  text-shadow: 2px 2px 5px lightblue;
}

a{
  text-align: center;
  color: black; 
  text-decoration: none;
}

#patria{
  width: 15%;
}

h3{text-align: center;
font-family: 'Times New Roman', Times, serif}

p{text-align: center;}

#divisor{
  border-top: 3px solid #bbb;
  }

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.card-img-top{
  max-width: 100%;
  height: auto;
}

p { font-family: Arial, Helvetica, sans-serif;
}

.card{
  background-color: rgb(152, 220, 242);
}

.card-body{

  color: black;
}

#final{
  background-color: rgb(255, 255, 220);
  color: black;
  display: inline-flex;
}

ul{
  list-style-type: none;
}


#enlaces{
  width: 20%;
  display: block;
  
}

#contacto{
  width: 30%;
  display: block;
}

#mailcontacto{
  text-align: center;
}

#redes{
  width: 20%;
  display: block;
  text-align: center;
}

#derechos{
  width: 30%;
  display: block;
}

#copy{
  text-align: center;
}

h5{
  text-align: center;
  color: black; 
  font-family: 'Reem Kufi Fun', sans-serif;
  font-style: italic;
  font-size: 25px;
}

#links{

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  align-content: space-around;

}

.flex-container {
  display: flex;
  background-color: white;
  align-items: stretch;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: stretch;
}


.card-img-top{ 
  height: 300px; 
  width: 300px;
}
/* 
.carousel{
  height: auto;
  width: auto;
} */

.carousel-indicator {
  width:10px;
  width: 10px;
}                  

.d-block{
  height: 600px; 
  width: auto;
}

.btn-primary{
  background-color: white;
  color: black;
}

#imgpie {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: auto;
}




@media only screen and (max-width: 650px) { 

  #final{
    display: none;
  }

  .flex-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    row-gap: 25px;
  }

  .img1{
    width: 150px;
    height: 250px;
  }
}